
Reproducibiliy/.ipynb_checkpoints/Figure2-checkpoint.ipynb
Reproducibiliy/data/paul15/paul15.h5
Reproducibiliy/Figure2.ipynb
Reproducibiliy/.ipynb_checkpoints/Simulation_DCA-checkpoint.ipynb
Reproducibiliy/.ipynb_checkpoints/Simulation_DrivAER-checkpoint.ipynb
Reproducibiliy/.ipynb_checkpoints/Untitled-checkpoint.ipynb
